/* Base Application Styles */
body {
  color: #fff;
  background: #222;
}
*{
  font-family: "Andale Mono";
}
.index{
  width: 70%;
  height: 80%;
  margin: 5% auto;
  text-align: center;
  color: goldenrod;
}

.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  background: #666;
}
