/* Base Application Styles */
body {
  color: #fff;
  background: #222;
}

* {
  font-family: "Andale Mono" !important;
}

.index {
  width: 900px;
  height: 400px;
  margin: 5% auto;
  text-align: center;
  color: goldenrod;
}

a {
  color: gold;
}

.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  background: #666;
}

.index .welcome {
  line-height: 50px;
  position: absolute;
  top: 30px;
}

.index .username{
  color: gold;
}

.index .logout {
  cursor: pointer;
  padding: 7px;
  position: relative;
  left: 40px;
  line-height: 50px;
  width: 200px;
  height: 50px;
  border: 1px solid goldenrod;
  color: goldenrod;
  background-color: #2e2e2e;
  border-radius: 5px;
}

.index .logout:hover{
  border-color: gold;
  color:gold;
}
