.login{
  margin:50px auto;
  width: 40%;
  color: goldenrod;
}

.login *{
  width: 100%;
}

.login h1{
  text-align: center;
  color: goldenrod;
}

.login input{
  font-size: 20px;
  height: 50px;
  margin: 20px 0;
  padding:0;
  border:0;
}

.login input[type=submit]{
  background-color: #2e2e2e;
  color: goldenrod;
  border: 1px solid goldenrod;
  cursor: pointer;
}

.login input[type=submit]:hover{
  background-color: #222222;
}

