.register{
  margin:50px auto;
  width: 40%;
  color: goldenrod;
}

.register *{
  width: 100%;
}
.register a{
  color: gold;
}

.register h1{
  text-align: center;
  color: goldenrod;
}

.register input,.register button{
  font-size: 20px;
  height: 50px;
  margin: 20px 0;
  padding:0;
  border:0;
}

.register button{
  background-color: #2e2e2e;
  color: goldenrod;
  border: 1px solid goldenrod;
  cursor: pointer;
}

.register button:hover{
  background-color: #222222;
}

.register h2{
  text-align: center;
  color: firebrick;
  font-weight: 900;
}

